# Java
jte-classes/
style.jte
target/

# IntelliJ IDEA
*.iml
.idea/
!.idea/runConfigurations

# Environment
http/
.tool-versions
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
